#Clean the "movie_metadata.csv" dataset.

In [1]:
import numpy as np
import pandas as pd

In [2]:
#Colab資料夾設定方法
#!pip install google.colab #如未安裝取消註解後執行
import os

from google.colab import drive
drive.mount('/content/drive')

##出現提示欄進行授權

os.chdir('/content/drive/My Drive/newmovie/data2/') #切換該目錄
# os.listdir() #確認目錄內容

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
keywords = pd.read_csv('keywords.csv')

In [4]:

keywords['tmdbId'] = keywords['id']

In [5]:
keywords.head()

      id                                           keywords  tmdbId
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...     862
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...    8844
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...   15602
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...   31357
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...   11862

In [6]:
links = pd.read_csv('links.csv')

In [7]:
links

       movieId   imdbId    tmdbId
0            1   114709     862.0
1            2   113497    8844.0
2            3   113228   15602.0
3            4   114885   31357.0
4            5   113041   11862.0
...        ...      ...       ...
45838   176269  6209470  439050.0
45839   176271  2028550  111109.0
45840   176273   303758   67758.0
45841   176275     8536  227506.0
45842   176279  6980792  461257.0

[45843 rows x 3 columns]

In [8]:
merge = pd.merge(keywords, links, left_on="tmdbId", right_on="tmdbId")

In [9]:
merge = merge.loc[:,['movieId', 'tmdbId', 'imdbId']]

In [10]:
merge

       movieId  tmdbId   imdbId
0            1     862   114709
1            2    8844   113497
2            3   15602   113228
3            4   31357   114885
4            5   11862   113041
...        ...     ...      ...
46477   176269  439050  6209470
46478   176271  111109  2028550
46479   176273   67758   303758
46480   176275  227506     8536
46481   176279  461257  6980792

[46482 rows x 3 columns]

In [11]:
ratings = pd.read_csv('ratings_small.csv')
# ratings = pd.read_csv('ratings.csv')

In [12]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [13]:
merge

       movieId  tmdbId   imdbId
0            1     862   114709
1            2    8844   113497
2            3   15602   113228
3            4   31357   114885
4            5   11862   113041
...        ...     ...      ...
46477   176269  439050  6209470
46478   176271  111109  2028550
46479   176273   67758   303758
46480   176275  227506     8536
46481   176279  461257  6980792

[46482 rows x 3 columns]

In [14]:
meta_cleaned = pd.read_csv('../newdatas/meta_cleaned.csv')

In [15]:
meta_cleaned

,id,title,year,genres,overview,popularity,vote_average,vote_count,cast,crew,genres_list,actor_1_name,actor_2_name,actor_3_name,director_name
0,862,Toy Story,1995.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...",21.946943,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",Animation Comedy Family,Tom Hanks,Tim Allen,Don Rickles,John Lasseter
1,8844,Jumanji,1995.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",When siblings Judy and Peter discover an encha...,17.015539,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",Adventure Fantasy Family,Robin Williams,Jonathan Hyde,Kirsten Dunst,Joe Johnston
2,15602,Grumpier Old Men,1995.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",A family wedding reignites the ancient feud be...,11.712900,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",Romance Comedy,Walter Matthau,Jack Lemmon,Ann-Margret,Howard Deutch
3,31357,Waiting to Exhale,1995.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","Cheated on, mistreated and stepped on, the wom...",3.859495,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",Comedy Drama Romance,Whitney Houston,Angela Bassett,Loretta Devine,Forest Whitaker
4,11862,Father of the Bride Part II,1995.0,"[{'id': 35, 'name': 'Comedy'}]",Just when George Banks has recovered from his ...,8.387519,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",Comedy,Steve Martin,Diane Keaton,Martin Short,Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42362,289923,The Burkittsville 7,2000.0,"[{'id': 27, 'name': 'Horror'}]",A film archivist revisits the story of Rustin ...,0.386450,7.0,1.0,"[{'cast_id': 2, 'character': 'Branwall', 'cred...","[{'credit_id': '5403d669c3a3682d9800427d', 'de...",Horror,Monty Bane,Lucy Butler,David Grammer,Ben Rock
42363,222848,Caged Heat 3000,1995.0,"[{'id': 878, 'name': 'Science Fiction'}]",It's the year 3000 AD. The world's most danger...,0.661558,3.5,1.0,"[{'cast_id': 1, 'character': 'Kira (as Cassand...","[{'credit_id': '5757f36ac3a3687d6f000e8a', 'de...",Sci-Fi,Lisa Boyle,Kena Land,Zaneta Polard,Aaron Osborne
42364,30840,Robin Hood,1991.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...","Yet another version of the classic epic, with ...",5.683753,5.7,26.0,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",Drama Action Romance,Patrick Bergin,Uma Thurman,David Morrissey,John Irvin
42365,111109,Century of Birthing,2011.0,"[{'id': 18, 'name': 'Drama'}]",An artist struggles to finish his work while a...,0.178241,9.0,3.0,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",Drama,Angel Aquino,Perry Dizon,Hazel Orencio,Lav Diaz
42366,67758,Betrayal,2003.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","When one of her hits goes wrong, a professiona...",0.903007,3.8,6.0,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",Action Drama Thriller,Erika Eleniak,Adam Baldwin,Julie du Page,Mark L. Lester

In [16]:
title = meta_cleaned.loc[:,['id', 'title']]

In [17]:
# title.id.astype(str)
# title.dtypes
# title.id = pd.to_numeric(title.id, errors='coerce').convert_dtypes() 
# pd.to_numeric(title[id], errors='coerce')

In [18]:
merge = pd.merge(merge, title, left_on="tmdbId", right_on="id")

In [19]:
link = merge.loc[:, ['movieId', 'tmdbId', 'imdbId', 'title']]

In [20]:
link

       movieId  tmdbId   imdbId                        title
0            1     862   114709                    Toy Story
1            2    8844   113497                      Jumanji
2            3   15602   113228             Grumpier Old Men
3            4   31357   114885            Waiting to Exhale
4            5   11862   113041  Father of the Bride Part II
...        ...     ...      ...                          ...
43620   176259  289923   252966          The Burkittsville 7
43621   176263  222848   112613              Caged Heat 3000
43622   176267   30840   102797                   Robin Hood
43623   176271  111109  2028550          Century of Birthing
43624   176273   67758   303758                     Betrayal

[43625 rows x 4 columns]

In [21]:
link.to_csv('../newdatas/link.csv',index=True)

In [22]:
link

       movieId  tmdbId   imdbId                        title
0            1     862   114709                    Toy Story
1            2    8844   113497                      Jumanji
2            3   15602   113228             Grumpier Old Men
3            4   31357   114885            Waiting to Exhale
4            5   11862   113041  Father of the Bride Part II
...        ...     ...      ...                          ...
43620   176259  289923   252966          The Burkittsville 7
43621   176263  222848   112613              Caged Heat 3000
43622   176267   30840   102797                   Robin Hood
43623   176271  111109  2028550          Century of Birthing
43624   176273   67758   303758                     Betrayal

[43625 rows x 4 columns]